*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/metadata-comparison/target/
/core/target/
/nitfNetbeansFileType/target/
/render/target/
/shared-test-resources/target/
/fluent-api/target/

# ignore intellij files
*.iml

.idea/
/core/nbproject/
/fluent-api/nbproject/